<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Tasks</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tasks.css') }}">

        <script src="{{ url_for('static', filename='tasks.js') }}"></script>
    </head>
    <body>
        <h3>Tasks</h3>
        <ul id="task-list"></ul>
    </body>
</html>
